* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

.box {
  width: 100vw;
  height: 10vh;
}

.sp {
  background-color: white;
  margin: 0 auto;
}

.box:nth-child(1) {
  height: 25vh;
  background-color: white;
}

.box:nth-child(2) {
  width: 75vw;
}
.box:nth-child(3) {
  width: 50vw;
}
.box:nth-child(4) {
  width: 25vw;
}
.box:nth-child(5) {
  width: 50vw;
}
.box:nth-child(6) {
  width: 75vw;
}

.box:nth-child(7) {
  height: 25vh;
  background-color: white;
}
